
body {
    background-color: white;
    text-align: center;
    font-family: "Roboto", arial;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Code */

.navbar
    {
    text-align: center;
    height: 75px;
    justify-content: space-between;
    display: flex;
    padding: 10px 100px;
    background-color: grey;
    }

.headerlogo {
    height: 60px;
    width: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

/* Hero Code */

.hero {
    display: flex;
    padding: 20px;
    background-color: grey;
    align-items: center;
    padding: 10px 100px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right {
    display: flex;
    align-items: flex-end;
}


.statement {
    text-align: left;
    max-width: 400px;
}

.statement h3 {
    font-size: 24px;
    color: green;
    border-bottom: 0px;
}

.statement p {
    font: 18px;
    color: yellow;
    border-top: 0;
}

.statement button {
    background-color: #3882F6;
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    border-radius: 6px;
    padding: 3px;

}

.heroimage {
    height: 200px;
    width: 200px;
}

/* Contents Code */

.information {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box {
    flex: 1;
    text-align: center;
}

.box img {
    height: 100px;
    width: 100px;
}

/* Quotation Code */

.quotebackground {
    height: 150px;
    background-color: lightgrey;
    padding: 20px 170px;
}

#quote {
    text-align: left;
}

#author {
    text-align: right;
    padding-right: 45px;
}

/* Sign Up Code */

.cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #3882F6;
    margin: 40px 100px;
    border-radius: 8px;
    padding: 5px 50px;
}

.cta-left {
    text-align: left;
    width: 400px;
    color: white;
}

.cta-left p {
    margin: 5px;
}

#top {
    font-size: 14px;
}

#bottom {
    font-size: 10px;
}

.cta-right {
    width: 100px;
    text-align: right;
}

.cta-right button {
    cursor: pointer;
    border-radius: 6px;
    background-color: #3882F6;
    border-color: white;
    color: white;
}

/* Footer Code */

.footer {
    height: 35px;
    background-color: grey;
    color: white;
    font-size: 12px;
    padding: 20px 50px;
}

.footer p {
    margin: 0;
}