body {
    background-color: white;
    text-align: center;
    font-family: "Roboto", arial;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Navbar Code */

.navbar
    {
    text-align: center;
    height: 100px;
    justify-content: space-between;
    display: flex;
    padding: 10px 100px;
    background-color: grey;
    }

.headerlogo {
    height: 60px;
    width: 60px;
}

a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

/* Hero Code */

.hero {
    display: flex;
    padding: 20px;
    background-color: lightsalmon;
    align-items: center;
    padding: 10px 100px;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-right {
    display: flex;
    align-items: flex-end;
}


.statement {
    text-align: left;
    max-width: 400px;
}

.statement h3 {
    font-size: 24px;
    color: green;
    border-bottom: 0px;
}

.statement p {
    font: 18px;
    color: yellow;
    border-top: 0;
}

button {
    background-color: lightcoral;
    color: blue;
    font-size: 16px;
    cursor: pointer;
}

.heroimage {
    height: 200px;
    width: 200px;
}




/* Contents Code */



/* Quotation Code */




/* Sign Up Code */




/* Footer Code */

